/* Container */
.container {
    max-width: 1185px;
    min-width: 1185px;
}

/* Intro */
.intro_header {
    margin-bottom: 0;
    padding-bottom: 215px;
}

/* Column */
.column_one {
    margin-top: -132px;
    margin-right: 14px;
}
.column_two {
    width: 900px;
    margin-top: -132px;
}
.column_three {
    width: 270px;
}

/* Nav */
.nav_item {
    padding: 11px 0 11px 42px;
}

/* Product */
.product_header--step {
    margin-left: 35px;
}
.product_nav {
    margin: 35px 5px;
}
.product_back {
    margin-right: 25px;
}

/* News */
.news {
    height: 267px;
    margin-bottom: 30px;
}

/* Article */
.article {
    margin-bottom: 0;
}