/* Container */
.container {
    max-width: 1185px;
}

/* Intro */
.intro_header {
    margin-bottom: 0;
    padding-bottom: 215px;
}

/* Column */
.column_one {
    margin-top: -132px;
    margin-right: 14px;
}
.column_two {
    width: 900px;
    margin-top: -132px;
}
.column_three {
    width: 270px;
}

/* Nav */
.nav_item {
    padding: 11px 0 11px 42px;
}

/* Product */
.product_header--step {
    margin-left: 35px;
}
.product_nav {
    margin: 35px 5px;
}
.product_back {
    margin-right: 25px;
}

/* Login */
.login {
    display: block;
    width: 270px;
    height: 360px;
    margin-top: 70px;
    padding-left: 20px;
    position: relative;
}
.login_subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
    line-height: 1;
}
.login_title {
    margin-bottom: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #333;
    text-transform: uppercase;
    line-height: 1;
}
.login_text_one {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
}
.login_text_two {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #333;
}
.login_form_radio {
    margin: 25px 0 20px;
}
.login_item_radio {
    display: flex;
    align-items: flex-start;
    margin: 5px 0 0;
}
.login_input_radio {
    margin: 0 5px 0;
}
.login_label_radio {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #555;
    text-transform: uppercase;
}
.login_ul {
    margin-bottom: 40px;
    padding-left: 20px;
}
.login_li {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #333;
}
.login_btn {
    width: 200px;
    height: 40px;
    display: block;
    margin: 0 auto;
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #333;
    position: absolute;
    left: 45px;
    bottom: 1px;
    z-index: 1;
    transition: background .1s linear;
}
.login_btn:hover {
    background-color: rgb(80, 80, 80);
}
.login_form {
    margin-top: 20px;
}
.login_item {
    padding-top: 20px;
} 
.login_label {
    display: block;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
}
.login_input {
    width: 228px;
    height: 24px;
    padding-left: 15px;
    border: 1px solid #efefef;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
}
.login_link_pass {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: italic;
    color: #333;
    position: absolute;
    right: 25px;
    bottom: 85px;
    z-index: 1;
}
.login_link_pass::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background-color: #d1d1d1;
}

/* Basket */
.basket {
    width: 270px;
    height: 390px;
    margin-top: 39px;
    margin-right: 20px;
    background-color: #fb4d01;
}
.basket_inner {
    margin: 35px 25px 60px;
}
.basket_title {
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}
.basket_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.basket_text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}
.basket_sum {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}
.basket_total {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
}
.basket_btn {
    width: 100%;
    height: 40px;
    margin-top: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #333;
    transition: background .1s linear;
}
.basket_btn:hover {
    background-color: rgb(80, 80, 80);
}

/* Form */
.form {
    width: 100%;
}
.form_header {
    margin: 35px 0 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form_title {
    margin: 0 75px 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
.form_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form_col {
    width: 270px;
    height: 400px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.form_col--card {
    display: block;
    position: relative;
}
.form_item {
    width: 250px;
    position: relative;
}
.form_item--card {
    margin: 0 auto 20px;
}
.form_item--img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.form_label, .form_input {
    display: block;
}
.form_label {
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
}
.form_input {
    width: 241px;
    height: 26px;
    margin-bottom: 10px;
    padding-left: 5px;
    border: 1px solid #dfdfdf;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #aaa;
}
.form_input:focus {
    color: #333;
}
.form_input--date {
    display: inline;
    width: 50px;
    margin-bottom: 0;
}
.form_input--secure {
    width: 141px;
}
.form_label--radio {
    display: inline;
}
#form_checkbox_one {
    display: none;
}
.form_label--radio::before {
    content: "";
    color: #fff;
    display: inline-block;
    font: 20px/30px 'Roboto';
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 30px;
    height: 30px;
    background: #26d2fc;
    border-image: initial;
    vertical-align: middle;
}
#form_checkbox_one:checked + .form_label--radio::before {
    content: "✓";
}
#form_checkbox_one:disabled + .form_label--radio:before {
    background: #26d2fc;
    color: #aaa;
}
#form_checkbox_two {
    display: none;
}
.form_label--radio::before {
    content: "";
    color: #fff;
    display: inline-block;
    font: 20px/30px 'Roboto';
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 30px;
    height: 30px;
    background: #26d2fc;
    border-image: initial;
    vertical-align: middle;
}
#form_checkbox_two:checked + .form_label--radio::before {
    content: "✓";
}
#form_checkbox_two:disabled + .form_label--radio:before {
    background: #26d2fc;
    color: #aaa;
}
.form_radio--three {
    position: absolute;
    bottom: 0;
    left: 5px;
    z-index: 1;
}
#form_checkbox_three {
    display: none;
}
.form_label--radio::before {
    content: "";
    color: #fff;
    display: inline-block;
    font: 20px/30px 'Roboto';
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 30px;
    height: 30px;
    background: #26d2fc;
    border-image: initial;
    vertical-align: middle;
}
#form_checkbox_three:checked + .form_label--radio::before {
    content: "✓";
}
#form_checkbox_three:disabled + .form_label--radio:before {
    background: #26d2fc;
    color: #aaa;
}
.form_select {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
    border: 1px solid #dfdfdf;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #aaa;
}
.form_link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: italic;
    color: #333;
    position: absolute;
    right: 15px;
    bottom: 8px;
    z-index: 1;
}
.form_link::after {
    content: "";
    display: block;
    width: 62px;
    height: 2px;
    background-color: #d1d1d1;
}
.form_privacy {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: italic;
    color: #333;
    position: absolute;
    bottom: 40px;
    left: 15px;
    z-index: 1;
}
.form_text {
    width: 545px;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 1.3;
}
.form_btn {
    width: 200px;
    height: 35px;
    margin-right: 35px;
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background-color: #131313;
    transition: background .1s linear;
}
.form_btn:hover {
    background-color: #4e4e4e;
}

/* News */
.news {
    height: 267px;
    margin-bottom: 30px;
}

/* Article */
.article {
    margin-bottom: 0;
}