/* Welcome */
.welcome {
    background-color: #fff51f;
}
.welcome_inner {
    padding: 80px 25px;
}
.welcome_title {
    margin-bottom: 20px;
    font-family: 'Releway', cursive;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
.welcome_text {
    display: block;
    font-family: 'Releway', cursive;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

/* Cards */
.cards {
    display: flex;
    flex-wrap: wrap;
}
.cards_inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
}
.cards_content {
    width: 320px;
}
.cards_title {
    margin-bottom: 10px;
    font-family: 'Releway', cursive;
    font-size: 48px;
    font-weight: 800;
    color: #fff51f;
    text-transform: uppercase;
    line-height: 0.7;
}
.cards_text {
    font-family: 'Releway', cursive;
    font-size: 18px;
    color: #fff51f;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
} 
.cards_btn {
    margin-left: 2px;
    padding: 20px 28px;
    text-decoration: none;
    font-family: 'Releway', cursive;
    font-size: 14px;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
    background-color: #fff51f;
    transition: background .2s linear;
}
.cards_btn:hover {
    background-color: #fb4d01;
}

/* Slider */
.slider {
    display: flex;
    margin-left: 15px;
}
.slider_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    width: 30px;
    height: 50px;
    background-color: #fff;
    transition: background .2s linear;
}
.slider_item:hover {
    background-color: #fbde06;
}
.slider_arrow_left {
    width: 7px;
    height: 7px;
    margin-top: 2px;
    margin-left: 2px;
    border-top: 6px solid #333;
    border-left: 6px solid #333;
    transform: rotate(-45deg);
}
.slider_arrow_right {
    width: 7px;
    height: 7px;
    margin-top: 2px;
    margin-right: 2px;
    border-top: 6px solid #333;
    border-right: 6px solid #333;
    transform: rotate(45deg);
}

/* Scroll */
.scroll {
    display: flex;
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}
.scroll_one {
    content: "";
    width: 40px;
    height: 4px;
    margin: 0 5px;
    background-color: #fb4d01;
}
.scroll_two {
    content: "";
    width: 40px;
    height: 4px;
    margin: 0 5px;
    background-color: #faef03;
}
.scroll_three {
    content: "";
    width: 40px;
    height: 4px;
    margin: 0 5px;
    background-color: #faef03;
}

/* Content */
.content_inner {
    padding-bottom: 0;
}

/* Product */
.product_item {
    margin-bottom: 30px;
}

/* News */
.news {
    margin-bottom: 30px;
}

/* Instargam */
.inst {
    background-color: #eaeaea;
}
.inst_header {
    padding: 50px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inst_header i {
    font-size: 30px;
}
.inst_title {
    margin-left: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    color: #333;
}
.inst_link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    color: #333;
}
.inst_photo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.inst_item {
    border: 7px solid #fff;
}