/* Intro */
.intro_inner {
    padding-bottom: 25px;
}

/* Personal */
.personal {
    margin-bottom: 0;
}

/* Column */
.column_one {
    margin-top: 0;
}
.column_two {
    margin-top: 0;
}

/* Product */
.product_nav {
    margin: 35px 10px 50px;
}
.product_title {
    margin-left: 0;
    padding: 100px 0 30px;
    font-family: 'Releway', cursive;
    font-size: 30px;
    font-weight: 800;
    color: #333;
    text-transform: uppercase;
}

/* Subject */
.subject {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}



/* News */
.news {
    height: 278px;
}