/* Intro */
.intro_inner {
    padding-bottom: 25px;
}

/* Personal */
.personal {
    margin-bottom: 0;
}

/* Column */
.column_one {
    margin-top: 0;
}
.column_two {
    margin-top: 0;
}

/* Product */
.product_options {
    padding: 35px 10px 30px;
}
.product_nav {
    padding-bottom: 50px;
}
.product_item {
    height: 320px;
    margin-bottom: 30px;
}
.product_descript {
    margin-top: 16px;
}

/* News */
.news {
    height: 317px;
}