body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Container */
.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/* Intro */
.intro {
    background-color: #8be8ff;
}
.intro_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 40px;
}
.intro_logo {
    margin-left: 70px;
}
.intro_social {
    display: flex;
    align-items: flex-start;
    margin-top: 25px;
}
.intro_social a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    margin-right: 12px;
}
.intro_language {
    display: flex;
    align-items: center;
    margin: 2px 5px 0;
}
.intro_language_text {
    padding-right: 3px;
    font-family: 'Releway', cursive;
    font-size: 10px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.intro_inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 65px;
    position: relative;
}
.intro_item_one {
    width: 270px;
}
.intro_item_two {
    display: flex;
    align-items: center;
    width: 400px;
    margin-bottom: 80px;
}

/* Personal */
.personal {
    margin-bottom: 10px;
}
.personal_login {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8f8;
}
.personal_link {
    margin: 6px 30px;
    text-decoration: none;
    font-family: 'Releway', cursive;
    font-size: 12px;
    font-weight: 300;
    color: #fb4d01;
    text-transform: uppercase;
}
.personal_basket {
    background-color: #fb4d01;
}
.personal_inner {
    display: flex;
    justify-content: space-between;
}
.personal_inner--one {
    padding: 15px 18px 20px 20px;
}
.personal_item_one {
    display: flex;
}
.personal_price {
    margin-left: 15px;
}
.personal_sum {
    margin-bottom: 2px;
    font-family: 'Releway', cursive;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
.personal_quantity {
    font-family: 'Releway';
    font-size: 12px;
    color: #faef03;
}
.personal_item_two {
    align-self: flex-end;
    text-decoration: none;
}
.personal_item_two img {
    display: block;
    margin: 0 auto 4px;
}
.personal_edit {
    font-family: 'Releway', cursive;
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
    color: #333;
}
.personal_inner a {
    margin: 0px 30px 8px;
    text-decoration: none;
    font-family: 'Releway', cursive;
    font-size: 11px;
    color: #fff;
    text-transform: uppercase;
}
.personal_search {
    display: flex;
    justify-content: space-between;
}
.personal_input {
    width: 86%;
    padding: 12px 0px 12px 12px;
    border: 0;
    outline: 0;
    font-family: 'Releway', cursive;
    font-size: 10px;
    color: #0c0c0c;
    text-transform: uppercase;
}
.personal_btn {
    width: 14%;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-size: 12px;
    color: #fff;
    background-color: #333;
}

/* Welcome */
.welcome {
    background-color: #fff51f;
}
.welcome_inner {
    padding: 80px 25px;
}
.welcome_title {
    margin-bottom: 20px;
    font-family: 'Releway', cursive;
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
.welcome_text {
    display: block;
    font-family: 'Releway', cursive;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

/* Cards */
.cards {
    display: flex;
    flex-wrap: wrap;
}
.cards_inner {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;
}
.cards_content {
    width: 320px;
}
.cards_title {
    margin-bottom: 10px;
    font-family: 'Releway', cursive;
    font-size: 48px;
    font-weight: 800;
    color: #fff51f;
    text-transform: uppercase;
    line-height: 0.7;
}
.cards_text {
    font-family: 'Releway', cursive;
    font-size: 18px;
    color: #fff51f;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
} 
.cards_btn {
    margin-left: 2px;
    padding: 20px 28px;
    text-decoration: none;
    font-family: 'Releway', cursive;
    font-size: 14px;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
    background-color: #fff51f;
    transition: background .2s linear;
}
.cards_btn:hover {
    background-color: #fb4d01;
}

/* Slider */
.slider {
    display: flex;
    margin-left: 15px;
}
.slider_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1px;
    width: 30px;
    height: 50px;
    background-color: #fff;
    transition: background .2s linear;
}
.slider_item:hover {
    background-color: #fbde06;
}
.slider_arrow_left {
    width: 7px;
    height: 7px;
    margin-top: 2px;
    margin-left: 2px;
    border-top: 6px solid #333;
    border-left: 6px solid #333;
    transform: rotate(-45deg);
}
.slider_arrow_right {
    width: 7px;
    height: 7px;
    margin-top: 2px;
    margin-right: 2px;
    border-top: 6px solid #333;
    border-right: 6px solid #333;
    transform: rotate(45deg);
}

/* Scroll */
.scroll {
    display: flex;
    position: absolute;
    bottom: 65px;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
}
.scroll_one {
    content: "";
    width: 40px;
    height: 4px;
    margin: 0 5px;
    background-color: #fb4d01;
}
.scroll_two {
    content: "";
    width: 40px;
    height: 4px;
    margin: 0 5px;
    background-color: #faef03;
}
.scroll_three {
    content: "";
    width: 40px;
    height: 4px;
    margin: 0 5px;
    background-color: #faef03;
}

/* Content */ 
.content {
    width: 100%;
    background-color: #f8f8f8;
}
.content_inner {
    padding-bottom: 80px;
}
.content_inner::after {
    content: " ";
    display: block;
    clear: both;
}

/* Column */
.column_one {
    float: left;
    width: 270px;
    margin-top: -20px;
    margin-right: 30px;
}
.column_two {
    float: right;
    width: 870px;
    margin-top: -20px;
    background-color: #f8f8f8;
}
.column_three {
    float: left;
    width: 270px;
}

/* Nav */
.nav {
    width: 100%;
    margin-bottom: 30px;
}
.nav_title {
    width: 228px;
    max-width: 270px;
    padding: 25px 0 25px 42px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #333;
}
.nav_item {
    display: block;
    width: 228px;
    padding: 10px 0 10px 42px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    color: black;
    text-transform: uppercase;
    background-color: #26d2fc;
    transition: color .1s linear, background .1s linear;
}
.nav_item--category {
    background-color: #81e6fe;
}
.nav_item--brand {
    background-color: #9eeafd;
}
.nav_item:hover {
    color: #fff;
    background-color: #333;
}

/* News */
.news {
    display: block;
    width: 100%;
    height: 280px;
    text-decoration: none;
    font-family: 'Releway', cursive;
    font-size: 36px;
    font-weight: 900;
    color: #333;
    line-height: 1;
    text-transform: uppercase;
    background-color: #e0e0e0;
    position: relative;
}
.news em {
    display: block;
    width: 110px;
    position: absolute;
    right: 30px;
    bottom: 60px;
    z-index: 1;
}

/* Product */
.product {
    width: 100%;
}
.product_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}
.product_title {
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    color: #707070;
    text-transform: uppercase;
}
.product_slider {
    display: flex;
    justify-content: space-between;
    width: 30px;
    margin-right: 30px;
}
.product_left {
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid #6d6d6d;
    border-left: 2px solid #6d6d6d;
    transform: rotate(-45deg);
}
.product_right {
    display: block;
    width: 6px;
    height: 6px;
    border-top: 2px solid #6d6d6d;
    border-right: 2px solid #6d6d6d;
    transform: rotate(45deg);
}
.product_nav {
    display: flex;
    justify-content: space-between;
}
.product_way {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #989898;
    word-spacing: 10px;
}
.product_way a {
    display: inline-block;
    text-decoration: none;
    color: #989898;
    word-spacing: 2px;
}
.product_way a:hover {
    text-decoration: underline;
}
.product_back {
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #989898;
}
.product_back:hover {
    text-decoration: underline;
}
.product_section {
    width: 100%;
}
.product_goods {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.product_item {
    text-decoration: none;
    display: block;
    width: 270px;
    height: 325px;
    background-color: #fff;
    position: relative;
}
.product_inner {
    padding: 10px;
}
.product_inner img {
    width: 100%;
    height: auto;
}
.product_descript {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0 10px;
}
.product_name {
    width: 138px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    font-style: italic;
    color: #333;
}
.product_price {
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    color: #333;
}
.product_price_old {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    font-style: italic;
    color: #e24602;
    text-decoration: line-through;
    position: absolute;
    right: 22px;
    bottom: 20px;
    z-index: 1;
}
.product_sing {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
.product_slider_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 32%;
    left: 0;
    z-index: 1;
    background-color: #26d2fc;
    transition: transform .1s linear;
}
.product_slider_left:hover {
    transform: scale(1.1);
}
.product_slider_left img {
    padding-right: 3px;
}
.product_slider_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 32%;
    right: 0;
    z-index: 1;
    background-color: #26d2fc;
    transition: transform .1s linear;
}
.product_slider_right:hover {
    transform: scale(1.1);
}
.product_slider_right img {
    padding-left: 3px;
}
.product_slider--yellow {
    background-color: #faef03;
}
.product_step {
    display: flex;
}
.product_step_item {
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #aaa;
    text-transform: uppercase;
}
.product_step_item--active {
    color: #ff0101;
}
.product_step_num {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border: 1px solid #aaa;
    border-radius: 50%;
}
.product_step_num--active {
    border: 1px solid #ff0101;
}
.product_personal {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    position: relative;
}
.product_personal::after{
    content: "";
    display: block;
    width: 860px;
    height: 1px;
    background-color: #e8e8e8;
    position: absolute;
    bottom: 1px;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, 0, 0);
}

/* Photo */
.photo{
    width: 400px ;
}
.photo_img {
    border: 2px solid #fff;
    border-radius: 2px;
}
.photo_scroll {
    width: 370px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}
.photo_scroll_left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 80px;
    text-decoration: none;
    transition: transform .1s linear;
}
.photo_scroll_left:hover {
    transform: scale(1.15);
}
.photo_scroll_img {
    text-decoration: none;
    transition: transform .1s linear;
}
.photo_scroll_img:hover {
    transform: scale(1.1);
}
.photo_scroll_right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 80px;
    text-decoration: none;
    transition: transform .1s linear;
}
.photo_scroll_right:hover {
    transform: scale(1.15);
}

/* Paramet */
.paramet {
    width: 470px;
}
.paramet_inner {
    margin-left: 20px;
}
.paramet_header {
    width: 100%;
    position: relative;
}
.paramet_header::after {
    content: "";
    display: block;
    width: 390px;
    height: 1px;
    background-color: #e4e4e4;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, 0, 0);
}
.paramet_title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #353535;
    text-transform: uppercase;
    line-height: 1;
}
.paramet_estimat {
    display: flex;
    align-items: center;
    font-size: 12px;
}
.paramet_stars b {
    color: #afada7;
}
.paramet_review {
    margin: 0 6px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #353535;
}
.paramet_review:hover {
    text-decoration: underline;
}
.paramet_price {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px;
}
.paramet_price_sum {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    font-style: italic;
    color: #111;
}
.paramet_price_item {
    display: flex;
    margin: 8px 0;
}
.paramet_price_text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #666669;
}
.paramet_price_meaning {
    margin-left: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #111;
}
.paramet_descript {
    width: 100%;
    padding: 18px 0;
    position: relative;
}
.paramet_descript::after {
    content: "";
    display: block;
    width: 390px;
    height: 1px;
    background-color: #e4e4e4;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, 0, 0);
}
.paramet_subtitle {
    padding-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #353535;
    text-transform: uppercase;
}
.paramet_descript div {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #707070;
    line-height: 1.4;
    hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
.paramet_size {
    width: 100%;
    padding: 18px 0 25px;
    position: relative;
}
.paramet_size::after {
    content: "";
    display: block;
    width: 390px;
    height: 1px;
    background-color: #e4e4e4;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, 0, 0);
}
.paramet_size_content {
    padding-top: 8px;
}
.paramet_size a {
    margin-right: 10px;
    padding: 6px 5px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
    background-color: #fff;
    transition: background .1s linear;
}
.paramet_size a:hover {
    background-color: #26d2fc;
}
a.paramet_size_active {
    color: #ff4a4a;
}
a.paramet_size_active:hover {
    background-color: #fff;
}
.paramet_buy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 20px;
}
.paramet_quantity h6 {
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
}
.paramet_quantity_num {
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.paramet_quantity_num div {
    padding: 6px 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #9b9b9b;
    background-color: #fff;
    border: 1px solid #efefef;
}
.paramet_quantity_num a {
    margin-left: 8px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #9b9b9b;
}
.paramet_btn {
    width: 130px;
    height: 48px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: #fb4d01;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    transition: background .1s linear;
}
.paramet_btn:hover {
    background-color: #fb3301;
}
.paramet_add a {
    display: block;
    margin: 7px 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #353535;
}
.paramet_add a:hover {
    text-decoration: underline;
}

/* Descript */
.descript {
    width: 100%;
}
.descript_nav {
    display: flex;
    padding: 40px 15px 0;
}
.descript_link {
    display: block;
    text-decoration: none;
    padding: 12px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
    transition: background .1s linear;
}
.descript_link:hover {
    background-color: #9eeafd;
}
.descript_link--active {
    background-color: #26d2fc;
}
.descript_link--active:hover {
    background-color: #26d2fc;
}
.descript_content {
    border: 1px solid #d6d4d4;
}
.descript_inner {
    padding: 10px 10px 0 10px;
}
.descript_block {
    margin-bottom: 20px;
}
.descript_text {
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #808080;
    line-height: 1.3;
}

/* Settings */
.settings {
    display: flex;
    justify-content: space-between;
}
.settings_item {
    display: flex;
    align-items: center;
}
.settings_name {
    margin: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #333;
    text-transform: uppercase;
}
.settings_name:first-child {
    margin-left: 0px;
}
.settings_item select {
    padding: 1px 22px 1px 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #666669;
    border-color: #d6d4d4;
    outline: 0;
}
.settings_view {
    margin: 0 3px;
    padding: 0 2px;
    font-size: 16px;
    text-decoration: none;
    color: #c0c0c0;
    transition: background .1s linear;
}
.settings_view:hover {
    background-color: #faef03;
}
.settings_view--active {
    color: #26d2fc;
}
.settings_view--active:hover {
    background-color: inherit;
}
.settings_page {
    margin: 0 3px;
    padding: 2px 6px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #333;
    transition: background .1s linear;
}
.settings_page:hover {
    background-color: #faef03;
}
.settings_page--active {
    color: #fff;
    background-color: #26d2fc;
}
.settings_page--active:hover {
    background-color: #26d2fc;
}
.settings_slider {
    display: block;
    padding: 4px 6px 4px 4px;
}
.settings_slider:hover {
    background-color: #faef03;
}
.settings_slider div {
    width: 6px;
    height: 6px;
    border-top: 2px solid #a5a5a5;
    border-right: 2px solid #a5a5a5;
    transform: rotate(45deg);
}

/* Subject */
.subject {
    width: 615px;
}
.subject_header {
    display: flex;
    padding: 30px 0 8px;
    position: relative;
}
.subject_header::after {
    content: "";
    display: block;
    width: 600px;
    height: 1px;
    background-color: #e6e6e6;
    position: absolute;
    bottom: 1px;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, 0, 0);
}
.subject_subtitle--name {
    margin: 0 120px 0 95px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    color: #333;
}
.subject_subtitle {
    margin: 0 25px 0 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
}
.subject_item {
    display: flex;
    margin: 0 10px 0 5px;
    padding: 25px 0;
    position: relative;
}
.subject_item::after {
    content: "";
    display: block;
    width: 600px;
    height: 1px;
    background-color: #e6e6e6;
    position: absolute;
    bottom: 1px;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, 0, 0);
}
.subject_descript {
    width: 190px;
    padding-left: 10px;
}
.subject_descript h5 {
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #353535;
    text-transform: uppercase;
}
.subject_text {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #707070;
    line-height: 1.3;
}
.subject_social a {
    text-decoration: none;
    font-size: 15px;
    color: #333;
    margin-right: 15px;
}
.subject_price_one {
    margin: 5px 30px 0 55px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666669;
}
.subject_price_two {
    margin: 5px 15px 0 26px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666669;
}
.subject_quantity {
    display: flex;
    align-items: center;
    height: 27px;
}
.subject_num {
    padding: 6px 12px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #9b9b9b;
    background-color: #fff;
    border: 1px solid #efefef;
}
.subject_left {
    display: block;
    max-height: 18px;
    margin-right: 5px;
    padding: 5px 4px 5px 6px;
    text-decoration: none;
    background-color: #fff;
}
.subject_left div {
    width: 4px;
    height: 4px;
    border-top: 2px solid #848484;
    border-left: 2px solid #848484;
    transform: rotate(-45deg);
}
.subject_right {
    display: block;
    max-height: 18px;
    margin-left: 5px;
    padding: 5px 6px 5px 4px;
    text-decoration: none;
    background-color: #fff;
}
.subject_right div {
    width: 4px;
    height: 4px;
    border-top: 2px solid #848484;
    border-right: 2px solid #848484;
    transform: rotate(45deg);
}
.subject_del {
    margin-top: 6px;
    max-height: 14px;
}

/* Coupon */
.coupon {
    margin: 0 30px 0 15px;
    padding: 15px 0 45px;
    position: relative;
}
.coupon_title {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #333;
    text-transform: uppercase;
}
.coupon_form {
    display: flex;
    justify-content: space-between;
}
.coupon_input {
    padding-left: 10px;
    width: 230px;
    height: 30px;
    border: 1px solid #e6e6e6;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    color: #a8a8a8;
}
.coupon_btn {
    width: 200px;
    height: 34px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background-color: #333;
    transition: background .1s linear;
}
.coupon_btn:hover {
    background-color: rgb(80, 80, 80);
}
.coupon_text {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #333;
    position: absolute;
    right: 2px;
    bottom: 20px;
    z-index: 1;
}
.coupon_text::after {
    content: "";
    display: block;
    width: 128px;
    height: 2px;
    background-color: #d1d1d1;
}

/* Shipment */
.shipment_nav {
    display: flex;
    justify-content: space-between;
    margin: 16px 25px 80px;
}
.shipment_way {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #989898;
    word-spacing: 10px;
}
.shipment_way a {
    display: inline-block;
    text-decoration: none;
    color: #989898;
    word-spacing: 2px;
}
.shipment_way a:hover {
    text-decoration: underline;
}
.shipment_back {
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #989898;
}
.shipment_back:hover {
    text-decoration: underline;
}
.shipment_content {
    width: 100%;
    display: flex;
}
.shipment_form {
    width: 390px;
    padding-left: 10px;
    position: relative;
}
.shipment_form::after {
    content: "";
    display: block;
    width: 1px;
    height: 420px;
    background-color: #e5e5e5;
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 1;
    transform: translate3d(0, -50%, 0);
}
.shipment_label, .shipment_input, .shipment_textarea {
    display: block;
}
.shipment_label {
    margin-bottom: 4px;
    margin-left: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
}
.shipment_input {
    width: 335px;
    height: 24px;
    margin-bottom: 28px;
    padding-left: 15px;
    border: 1px solid #efefef;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #aaa;
}
.shipment_input:focus {
    color: #333;
}
.shipment_textarea {
    width: 335px;
    height: 148px;
    margin-bottom: 30px;
    padding-left: 15px;
    border: 1px solid #efefef;
    outline: 0;
    resize: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
}
.shipment_btn {
    width: 354px;
    height: 36px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background-color: #333;
    transition: background .1s linear;
}
.shipment_btn:hover {
    background-color: rgb(80, 80, 80);
}
.shipment_info {
    width: 300px;
    margin-top: 5px;
    margin-left: 14px;
}
.shipment_title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #353535;
}
.shipment_item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #333;
}
.shipment_item i {
    margin-right: 10px;
    font-size: 16px;
}
.shipment_text {
    width: 170px;
    font-size: 12px;
    color: #777;
}
.shipment_number {
    margin: 10px 0 2px 0;
}
.shipment_email {
    padding-bottom: 2px;
    font-size: 16px;
    text-decoration: underline;
}
.shipment_totaltext {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
}

/* Login */
.login {
    display: block;
    width: 270px;
    height: 360px;
    margin-top: 70px;
    padding-left: 20px;
    position: relative;
}
.login_subtitle {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
    line-height: 1;
}
.login_title {
    margin-bottom: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #333;
    text-transform: uppercase;
    line-height: 1;
}
.login_text_one {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
}
.login_text_two {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #333;
}
.login_form_radio {
    margin: 25px 0 20px;
}
.login_item_radio {
    display: flex;
    align-items: flex-start;
    margin: 5px 0 0;
}
.login_input_radio {
    margin: 0 5px 0;
}
.login_label_radio {
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #555;
    text-transform: uppercase;
}
.login_ul {
    margin-bottom: 40px;
    padding-left: 20px;
}
.login_li {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #333;
}
.login_btn {
    width: 200px;
    height: 40px;
    display: block;
    margin: 0 auto;
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #333;
    position: absolute;
    left: 45px;
    bottom: 1px;
    z-index: 1;
    transition: background .1s linear;
}
.login_btn:hover {
    background-color: rgb(80, 80, 80);
}
.login_form {
    margin-top: 20px;
}
.login_item {
    padding-top: 20px;
} 
.login_label {
    display: block;
    margin-bottom: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
}
.login_input {
    width: 228px;
    height: 24px;
    padding-left: 15px;
    border: 1px solid #efefef;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
}
.login_link_pass {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: italic;
    color: #333;
    position: absolute;
    right: 25px;
    bottom: 85px;
    z-index: 1;
}
.login_link_pass::after {
    content: "";
    display: block;
    width: 120px;
    height: 2px;
    background-color: #d1d1d1;
}

/* Basket */
.basket {
    width: 270px;
    height: 390px;
    margin-top: 39px;
    margin-right: 20px;
    background-color: #fb4d01;
}
.basket_inner {
    margin: 35px 25px 60px;
}
.basket_title {
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}
.basket_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
.basket_text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}
.basket_sum {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}
.basket_total {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #fff;
}
.basket_btn {
    width: 100%;
    height: 40px;
    margin-top: 35px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: #333;
    transition: background .1s linear;
}
.basket_btn:hover {
    background-color: rgb(80, 80, 80);
}

/* Form */
.form {
    width: 100%;
}
.form_header {
    margin: 35px 0 55px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.form_title {
    margin: 0 75px 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
.form_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.form_col {
    width: 270px;
    height: 400px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}
.form_col--card {
    display: block;
    position: relative;
}
.form_item {
    width: 250px;
    position: relative;
}
.form_item--card {
    margin: 0 auto 20px;
}
.form_item--img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.form_label, .form_input {
    display: block;
}
.form_label {
    margin-bottom: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
}
.form_input {
    width: 241px;
    height: 26px;
    margin-bottom: 10px;
    padding-left: 5px;
    border: 1px solid #dfdfdf;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #aaa;
}
.form_input:focus {
    color: #333;
}
.form_input--date {
    display: inline;
    width: 50px;
    margin-bottom: 0;
}
.form_input--secure {
    width: 141px;
}
.form_label--radio {
    display: inline;
}
#form_checkbox_one {
    display: none;
}
.form_label--radio::before {
    content: "";
    color: #fff;
    display: inline-block;
    font: 20px/30px 'Roboto';
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 30px;
    height: 30px;
    background: #26d2fc;
    border-image: initial;
    vertical-align: middle;
}
#form_checkbox_one:checked + .form_label--radio::before {
    content: "✓";
}
#form_checkbox_one:disabled + .form_label--radio:before {
    background: #26d2fc;
    color: #aaa;
}
#form_checkbox_two {
    display: none;
}
.form_label--radio::before {
    content: "";
    color: #fff;
    display: inline-block;
    font: 20px/30px 'Roboto';
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 30px;
    height: 30px;
    background: #26d2fc;
    border-image: initial;
    vertical-align: middle;
}
#form_checkbox_two:checked + .form_label--radio::before {
    content: "✓";
}
#form_checkbox_two:disabled + .form_label--radio:before {
    background: #26d2fc;
    color: #aaa;
}
.form_radio--three {
    position: absolute;
    bottom: 0;
    left: 5px;
    z-index: 1;
}
#form_checkbox_three {
    display: none;
}
.form_label--radio::before {
    content: "";
    color: #fff;
    display: inline-block;
    font: 20px/30px 'Roboto';
    margin-right: 15px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 30px;
    height: 30px;
    background: #26d2fc;
    border-image: initial;
    vertical-align: middle;
}
#form_checkbox_three:checked + .form_label--radio::before {
    content: "✓";
}
#form_checkbox_three:disabled + .form_label--radio:before {
    background: #26d2fc;
    color: #aaa;
}
.form_select {
    width: 250px;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
    border: 1px solid #dfdfdf;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #aaa;
}
.form_link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: italic;
    color: #333;
    position: absolute;
    right: 15px;
    bottom: 8px;
    z-index: 1;
}
.form_link::after {
    content: "";
    display: block;
    width: 62px;
    height: 2px;
    background-color: #d1d1d1;
}
.form_privacy {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-style: italic;
    color: #333;
    position: absolute;
    bottom: 40px;
    left: 15px;
    z-index: 1;
}
.form_text {
    width: 545px;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
    line-height: 1.3;
}
.form_btn {
    width: 200px;
    height: 35px;
    margin-right: 35px;
    border: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    background-color: #131313;
    transition: background .1s linear;
}
.form_btn:hover {
    background-color: #4e4e4e;
}

/* Widget */
.widget {
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
}
.widget_inner {
    padding: 30px;
}
.widget_title {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    color: black;
}
.widget_tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.widget_item {
    display: block;
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 8px 10px 6px 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
    background-color: #e9e9e9;
    transition: background .1s linear;
}
.widget_item:hover {
    background-color: #faef03;
}
.widget_main {
    font-size: 14px;
    color: black;
    padding-right: 30px;
    padding-left: 30px;
}
.widget_all {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    font-style: italic;
    color: black;
}

/* Articles */
.articles {
    width: 100%;
    background-color: #fff;
    margin-bottom: 30px;
}
.articles_inner {
    padding: 30px;
}
.articles_title {
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 900;
    font-style: italic;
    color: black;
}
.articles_gadgets {
    margin-bottom: 19px;
}
.articles_item {
    display: block;
    width: 100%;
    margin-bottom: 13px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #555;
}
.articles_all {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 900;
    font-style: italic;
    color: black;
}

/* Brand */
.brand {
    display: flex;
}
.brand_item {
    width: 146.25px;
    height: 160px;
    background: url(../images/brand/1.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

/* Instargam */
.inst {
    background-color: #eaeaea;
}
.inst_header {
    padding: 50px 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inst_header i {
    font-size: 30px;
}
.inst_title {
    margin-left: 8px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    color: #333;
}
.inst_link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    color: #333;
}
.inst_photo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
}
.inst_item {
    border: 7px solid #fff;
}

/* Social */
.social {
    display: flex;
}
.social_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.33333%;
    height: 150px;
    padding-bottom: 50px;
    text-decoration: none;
    color: #fff;
    font-size: 65px;
    transition: transform .2s linear;
}
.social_item:hover {
    transform: translateY(-45px)
}
.facebook {
    background-color: #3b5997;
}
.twitter {
    background-color: #3fccfd;
}
.pinterest {
    background-color: #cb2027;
}

/* Footer */
.footer {
    margin-top: -50px;
    background-color: #373737;
    position: relative;
    z-index: 1;
}
.footer_container {
    width: 1120px;
    margin: 0 auto;
    padding: 70px 0;
    display: flex;
    justify-content: space-between;
}
.footer_col {
    width: 140px;
    height: 165px;
}
.footer_title {
    margin-bottom: 15px;
    font-family: 'Releway', cursive;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
}
.footer_link a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #fff;
}
.footer_news {
    width: 270px;
    height: 165px;
    position: relative;
}
.footer_title_news {
    margin-bottom: 3px;
}
.footer_text {
    margin-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #f8f8f8;
}
.footer_form {
    display: flex;
}
.footer_input {
    width: 160px;
    height: 28px;
    padding-left: 20px;
    border: 0;
    border-right: 1px solid #878210;
    outline: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
    background-color: #fff51f;
}
.footer_input:focus {
    font-size: 12px;
    text-transform: none;
}
.footer_btn {
    width: 70px;
    height: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    background-color: black;
    transition: background .2s linear;
}
.footer_btn:hover {
    background-color: rgb(32, 32, 32);
}
.footer_payment {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    bottom: 2px;
    z-index: 1;
}
.footer_payment img {
    margin-right: 4px;
}
.footer_about {
    width: 270px;
    height: 165px;
}
.footer_contacts_item {
    display: flex;
}
.footer_contacts_title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
}
.footer_contacts_num {
    margin-left: 10px;
    margin-bottom: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #fff;
}
.footer_contacts_email {
    margin-left: 12px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #faef03;
}

/* Copyright */
.copyright {
    background-color: #333;
}
.copyright_inner {
    display: flex;
    justify-content: space-between;
    padding: 15px 0 10px 0;
}
.copyright_text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #dad9d9;
}
.copyright_social a {
    margin-right: 8px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}